[submodule "bigtree"]
	path = bigtree
	url = https://github.com/bigtreecms/BigTree-CMS.git
[submodule "custom/inc/lib/parsedown"]
	path = custom/inc/lib/parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "site/formstone"]
	path = site/formstone
	url = git@github.com:Formstone/Formstone.git
