/* ==========================================================================
	Page
============================================================================= */

	@header_height_sm: 50px;
	@header_height_lg: 75px;

	@sidebar_width_lg: 240px;
	// @sidebar_width_xl: 280px;


	main:focus {
		outline: none;
	}


	.page_wrapper {
		min-height: 100%;

		background: @white;
		padding: @header_height_sm 0 0 0;
		overflow: auto;

		@media @min_lg {
			padding: @header_height_lg 0 0 @sidebar_width_lg;
		}

		.fs-row {

			@media @min_lg {
				width: ~"calc(100% - 80px)";
				max-width: 960px;
			}
		}

		&.fs-navigation-enabled {
			// box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
			box-shadow: none;
		}
	}

	.page {

	}



	.header {
		width: 100%;
		height: @header_height_sm;

		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 3;

		background: @primary;
		// box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
		padding: 10px 0;

		@media @min_lg {
			height: @header_height_lg;

			padding: 20px 30px;

			.fs-row {

				&,
				.fs-cell {
					width: auto;

					float: none;
					margin: 0;
				}
			}
		}
	}

	.header_logo {
		.sans;
		.font_size(18);

		color: @white;
		float: left;
	}

	.header_version {
		.sans;
		.font_size(12);

		color: @primary_light;
		display: inline-block;
		margin: 6px 0 0 15px;
	}

	.header_buttons {
		float: right;

		@media @max_lg {
			display: none;
		}

		.button {
			margin: 0 0 0 5px;
		}

		.version_info {
			margin: 0 10px 0 0;
		}
	}

	.header_handle {
		.heading_5;

		cursor: pointer;
		color: @white;
		display: none;
		float: right;
		margin: 2px 0 0;
		padding: 5px 40px 5px 5px;

		&.fs-navigation-enabled {
			display: block;

			&:after {
				background: @primary_light;
				box-shadow:
					0 5px  0 @primary_light,
					0 -5px 0 @primary_light;
			}
		}

		&.fs-navigation-open {

			&:after {
				background: transparent;
				box-shadow: none;
				color: @primary_light;
			}
		}
	}


	.footer {
		background: @white;
		border-top: 1px solid @gray_light;
		padding: 50px 0;

		.footer_ads {
			text-align: center;

			@media @min_md {
				text-align: right;
			}

			a {
				display: inline-block;
				float: none;

				&.adhere {
					width: 125px;
					height: 125px;
				}
			}
		}
	}

	.footer_meta {
		margin: 0 0 20px;
		text-align: center;

		@media @min_md {
			margin: 0 0;
			text-align: left;
		}
	}

	.footer_link {
		.sans;
		.font_size(16);

		color: @primary_dark;
		margin: 0 10px;

		.no-touchevents &:hover {
			color: @black;
		}

		@media @min_md {
			margin: 0 20px 0 0;
		}
	}

	.footer_copyright {
		.sans;
		.font_size(12);

		color: @primary;
		margin: 10px 0;
	}





	.page_header {
		border-bottom: 1px solid @gray_light;
		padding: 40px 0 20px;

		@media @min_lg {
			padding: 60px 0 40px;
		}
	}

	.page_heading {

		span {
			color: @primary;
		}
	}

	.page_intro {

		p {
			.sans;
			.font_size(18);

			color: @primary;
		}
	}




	.page_content {
		padding: 30px 0 50px;

		@media @min_md {
			padding: 50px 0 75px;
		}
	}


	// Navs



	.nav_set {
		margin: 0 0 30px;
	}

	.nav_heading {
		.heading_5;
		.font_size(14);

		color: @white;
		cursor: pointer;
		padding: 0;

/*
		&:after {
			height: 8px;
			width: 8px;

			position: relative;

			border: 2px solid @primary;
			border-width: 0 2px 2px 0;
			content: '';
			display: block;
			float: right;
			margin: 2px 0 0;
			transform: rotate(45deg);
		}

		&.fs-swap-active:after {
			margin: 5px 0 0;
			transform: rotate(-135deg);
		}
*/
	}

	.nav_children {
		// display: none;
		padding: 10px 0 0;

		.fs-swap-active & {
			// display: block;
		}
	}

	.nav_link {
		// .serif();
		.sans;
		.font_size(14);

		display: block;
		color: @primary_light;
		margin: 1px -10px;
		padding: 3px 10px;

		.no-touchevents &:hover {
			background: fade(@primary, 50);
			color: @white;
		}

		&.nav_link_active {

			&,
			.no-touchevents &:hover {
				background: @primary;
				color: @white;
			}
		}
	}



	.navigation {
		background: @primary_dark;
		// box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
		overflow-y: auto;
		padding: 20px;

		@media @min_lg {
			width: @sidebar_width_lg;

			position: fixed;
			top: @header_height_lg;
			bottom: 0;
			left: 0;
			z-index: 2;

			padding: 30px;
		}

		@media @min_xl {
			// width: @sidebar_width_xl;
		}

		&.fs-navigation-enabled {
			background: @primary_dark;
			padding: 80px 30px 100px;
		}
	}




	.section_nav {
		.clearfix;

		margin: 0 0 30px 0;

		@media @min_md {

			&:before {
				.heading_5;

				content: 'Jump To';
				float: left;
				margin: 0 10px 0 0;
				padding: 10px 10px 10px 0;
			}
		}

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			float: left;
			margin: 0;
			padding: 0;

			&:before {
				display: none;
			}
		}

		a {
			.sans;
			.font_size(14);

			border: none;
			color: @accent;
			display: block;
			margin: 0;
			padding: 6px 10px 7px;

			.no-touchevents &:hover {
				color: @black;
				background: @gray_light;
			}
		}
	}


	// Home

	.home {

		.home_heading {

			@media @min_lg {
				.font_size(46);
			}

			@media @min_xl {
				.font_size(55);
			}
		}

		.home_feature {
			padding: 0 20px 0 0;
		}

	}




	a[name]:before {
		height: 75px;

		content: '';
		display: block;
		margin-top: -75px;
		visibility: hidden;

		@media @min_lg {
			height: 100px;

			margin-top: -100px;
		}
	}